{% extends 'main/base.html' %}
{% load static %}

    {% block pagename %}
    notifications
    {% endblock pagename %}

    {% block page %}
    Notifications
    {% endblock page %}

    {% block nlink %}
    active bg-gradient-primary
    {% endblock nlink %}

    {% block content %}
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-success shadow-success border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Cheque due in next 3 days.</h6>    
              </div>
            </div>

            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Party Info</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Cheque Detail</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cheque Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cheque Due Date</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cheque Received Date</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for list in items %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{list.party_name}}</h6>
                            <p class="text-xs text-secondary mb-0">{{list.bank_name}}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{list.account_holders_name}}</p>
                        <p class="text-xs text-secondary mb-0">{{list.cheque_number}}</p>
                      </td>
                      <td>
                        <h6 class="mb-0 text-sm">{{list.amount}}</h6>
                      </td>
                      
                      <td class="align-middle text-center text-sm">
                        {% if list.cheque_released %}
                        <span class="badge badge-sm bg-gradient-success">Released</span>
                        <p class="text-xs text-secondary mb-0">{{list.cheque_released_date}}</p>
                        {% else %}
                        <span class="badge badge-sm bg-gradient-danger">Not Released</span>
                        {% endif %}
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{list.cheque_due_date}}</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-xs text-secondary mb-0">{{list.cheque_received_date}}</span>
                      </td>
                      <td class="align-middle">
                        <a href="{% url 'updaterecord' list.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Edit/View
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-success shadow-success border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Cheque passed due date.</h6>    
                </div>
              </div>
  
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Party Info</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Cheque Detail</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cheque Status</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cheque Due Date</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cheque Received Date</th>
                        <th class="text-secondary opacity-7"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for list in duedup %}
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{list.party_name}}</h6>
                              <p class="text-xs text-secondary mb-0">{{list.bank_name}}</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{list.account_holders_name}}</p>
                          <p class="text-xs text-secondary mb-0">{{list.cheque_number}}</p>
                        </td>
                        <td>
                          <h6 class="mb-0 text-sm">{{list.amount}}</h6>
                        </td>
                        
                        <td class="align-middle text-center text-sm">
                          {% if list.cheque_released %}
                          <span class="badge badge-sm bg-gradient-success">Released</span>
                          <p class="text-xs text-secondary mb-0">{{list.cheque_released_date}}</p>
                          {% else %}
                          <span class="badge badge-sm bg-gradient-danger">Not Released</span>
                          {% endif %}
                        </td>
                        <td class="align-middle text-center">
                          <span class="text-secondary text-xs font-weight-bold">{{list.cheque_due_date}}</span>
                        </td>
                        <td class="align-middle text-center">
                          <span class="text-xs text-secondary mb-0">{{list.cheque_received_date}}</span>
                        </td>
                        <td class="align-middle">
                          <a href="{% url 'updaterecord' list.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            Edit/View
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    {% endblock content %}
