{% extends 'main/base.html' %}
{% load static %}

    {% block pagename %}
    record_form
    {% endblock pagename %}

    {% block page %}
    Record_Form
    {% endblock page %}

    {% block content %}
    <br> <br> <br>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="container-fluid px-2 px-md-4">
          <div class="card card-body mx-3 mx-md-4 mt-n6">
                <form method="POST" action="" role="form" class="text-start">
                  {% csrf_token %}
                  
                  <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Labels</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fields</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for field in form %}
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{field.label}}</h6>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{field}}</h6>
                            </div>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <div class="text-center">
                    <button type="submit"  class="btn bg-gradient-primary w-100 my-4 mb-2">Save</button>
                  </div> 
                </div>
                </form>
          </div>
        </div>
      </div>
    </div>
  
    {% endblock content %}